// @import .css => styles
div(className='{styles.app}')
  header(className='{styles.app_header}')
    img(src='{logo}', alt='logo', className='{styles.app_logo}')
    Greeting(name='Emmet')
    a(href='https://reactjs.org', target='_blank', rel='noopener noreferrer', className='{styles.app_link}')
      | Learn React
