// .container {
//   position: relative;
//   box-sizing: border-box;
//   // box-shadow: black;pa
//   // padding: 50px;
//   // border-color:blue !important;
// }

.root {
  position: absolute;

  top: 0;
  // top: 50px;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: transform;

  .center,
  .sticky {
    float: left;
    // box-sizing: border-box;

    > div {
      // background-color: rgba(255, 0, 0, 0.1);
      // border: 1px solid black;
      box-sizing: border-box;
      overflow: hidden;
      // border-left: 1px solid black;
      // border-bottom: 1px solid #e8e8e8;
      // 1px solid #e8e8e8
      // background: #fff;
    }
  }

  .sticky {
    position: sticky;
    width: 0;
    z-index: 1;
  }
}

.guidelines {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;

  > div {
    position: absolute;
    // border: 5px solid blue;
    box-sizing: border-box;
    // opacity: 1;
    // transition: opacity 0.2s linear;

    // &:global(.guideline-top) {
    //   height: 5px;
    //   background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    // }

    // &:global(.guideline-bottom) {
    //   height: 5px;
    //   background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    // }

    // &:global(.guideline-left) {
    //   width: 5px;
    //   background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    // }

    // &:global(.guideline-right) {
    //   width: 5px;
    //   background: linear-gradient(to left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    // }
  }
}

// :global(.section-top) {
//   // border: o
//   // border: 5px solid red;
// }

// :global(.is-scrolling) {
//   // border: 5px solid blue;
// }

// .odd {
//   background: #eee;
// }

// .even {
//   background: #fff;
// }

// .center {
//   >div {
//     background-color: rgba(255, 0, 0, 0.1);
//     background: #fff;
//   }
// }

.center,
.sticky {
  float: left;
  // box-sizing: border-box;

  // > div {
  //   // background-color: rgba(255, 0, 0, 0.1);
  //   // border: 1px solid black;
  //   box-sizing: border-box;
  //   overflow: hidden;

  // }
}

.sticky {
  position: sticky;
  width: 0;
  z-index: 1;
}
